<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script type="text/javascript" src="../../Scripts/knockout-2.0.0.js"></script>
    <link href="@Url.Content("~/Content/PlayEv.css")" rel="stylesheet" type="text/css" />
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css")" rel="stylesheet" type="text/css" />
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="logo">
                <a href="@Url.RouteUrl(new { controller="Home", action="Index"})"><img src="@Url.Content("~/Content/images/logo.jpg")" alt="PlayEv" /></a></div>
            <div id="profile">
                @{
                    Html.RenderPartial("ProfileSummary");
                }
            </div>
            <div class="clearB">
            </div>
        </div>
        <div id="navigation">
            <div id="categories">
                <ul>
                    <li>Action</li>
                    <li>Gambling</li>
                    <li>Puzzle</li>
                </ul>
                <div class="clearB">
                </div>
            </div>
            <div id="search">
                <label>
                    Search:
                    <input type="search" /></label>
                <button>
                    Go</button>
            </div>
            <div class="clearB">
            </div>
        </div>
        <div id="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
