@{
    if (Request.IsAuthenticated)
    {
    <div>@User.Identity.Name | @Html.RouteLink("Profile", new { controller = "User", action = "Account" }) | @Html.RouteLink("Log out", new { controller = "User", action = "LogOut" })</div>
    }
    else
    {
    <div>
        @Html.RouteLink("Register", new { controller = "User", action = "Register" }) |
        @Html.RouteLink("Login", new { controller = "User", action = "Login" })
    </div>
    }
}
